
.achievements-section {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: left;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.subh-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: gold;
  margin-bottom: 10px;
}

.subh-title:hover {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.achievement-item {
  background-color: grey;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-bottom: 5px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.achievement-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.achievement-item-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 15px;
}

.achievement-item-description {
  align-items: justify;
  font-size: 1.25rem;
  color: whitesmoke;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.7rem;
  }

  .achievement-item {
    max-width: 100%;
  }

  .achievements-list{
    grid-template-columns: repeat(2, 1fr);
  }

  .achievement-item-title {
    font-size: 1.25rem;
  }

  .achievement-item-description {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 1.7rem;
  }

  .connect-title {
    font-size: 1.25rem;
  }

  .achievement-item {
    padding: 20px;
  }

  .achievement-item-title {
    font-size: 1.25rem;
  }

  .achievement-item-description {
    font-size: 0.9rem;
  }
  .achievements-list{
    grid-template-columns: repeat(1, 1fr);
  }
}