.contact-section {
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-description {
  font-size: 1rem;
  color: #4b5563;
}

.contact-email {
  color: #3b82f6;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.contact-email:hover {
  background-color: green;
  text-decoration: underline;
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.connect-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: gold;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
} 
.contact-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: gold;
  font-weight: 800;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
}

.contact-button:hover {
  background-color: white;
  transform: scale(1.05);
}

.contact-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

/* Mobile Devices (up to 767px) */
@media (max-width: 767px) {
  .contact-buttons {
    gap: 10px;
    justify-content: flex-start;
  }

  .contact-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .contact-icon {
    width: 20px;
    height: 20px;
  }
}