.about-section {
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
  }
  
  .hero-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-title {
    color: #222;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 20px;
    align-content: center;
  }
  
  .hero-subtitle {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
  
  .section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .section-title {
    font-size: 1.7rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 10px;
  }
  
  .section-description {
    text-indent: 50px;
    font-size: 1.4rem;
    font-style: normal;
    color: black;
    line-height: 1.5;
    text-align: justify;
  }

  .resume-link {
    text-decoration: none;
    align-content: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #0000FF;
    color: #FFFFFF;
    border: 1px solid #d1d5db;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 0 0.5rem;
  }
  
  .resume-link:hover {
    background-color: green;
    color: #ffffff;
    border-color: #3b82f6;
  }

  .button-style {
    align-items: center;
    gap: 10px;
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
  }
  
  .button-style:hover {
    background-color: green;
  }