body{
  font-family: 'Times New Roman', Times, serif;
}

.section-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: gold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.sub-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: gold;
  margin: 0;
}