.experience-section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .experience-section .section-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .experience-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .experience-item {
    background-color: grey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .experience-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .experience-sub-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: gold;
    margin: 0;
  }
  
  .experience-sub-title:hover {
    color: white;
  }
  
  .experience-item-description {
    font-size: 1.25rem;
    color: whitesmoke;
    line-height: 1;
    text-align: justify;
  }
  
  .task-list {
    line-height: 1.6;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .task-list li {
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    .experience-list {
      grid-template-columns: 1fr;
    }
  }
  
  /* Tablet Devices (768px to 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .experience-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }